body {
  background-color: #0f0f0f;
  color: #00ffcc;
}
button {
  background-color: #00a887;
  border: none;
  color: white;
}
textarea {
  background-color: #1f1f1f;
  color: #00ffcc;
  border: 1px solid #00ffcc;
}
select, input[type="text"] {
  background-color: #1f1f1f;
  color: #00ffcc;
  border: 1px solid #00ffcc;
}
.activity-list-item {
  border: 1px solid #00ffcc;
  background-color: #1f1f1f;
}
.activity-list-item button.delete, .exit-button, .confirm-button, .skip-button {
  background-color: #ff4b4b; /* Soft red/pink for the cancel button */
  color: #fff; /* White text color */
}
.popup-window {
  background-color: #1f1f1f;
  border: 1px solid #00ffcc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  background-color: #333;
}
.slider:before {
  background-color: #00ffcc;
}
input:checked + .slider {
  background-color: #005f5f;
}
.confirmation-dialog {
  background-color: #1f1f1f;
  border: 1px solid #00ffcc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.two-list a {
  color: #00ffcc;
  background-color: #1f1f1f;
  border: 1px solid #00ffcc;
}
.two-list a:hover {
  background-color: #00ffcc;
  color: #1f1f1f;
}